In [ ]:
#IMPORTANT: Always run this cell first
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

#The following allows porting images into a Markdown window
from IPython.display import Image

## Lecture 7 ##

## Census ##

In [ ]:
# Read the Census data from our CSV file
full = Table.read_table('nc-est2014-agesex-res.csv')
full

# Recall # 
**In the SEX column:**  
1 denotes male   
2 denotes female   
0 denotes the aggregate of all males and females of a particular age  
  
**In the AGE column:**  
999 denotes aggregate of all ages

In [ ]:
#Q1. What's the following table?
#Q2. How many rows do we expect this table to have?

full.where('AGE', are.equal_to(999))

In [ ]:
#Let's look at the data for the oldest demographics
full.sort('AGE', descending=True)

In [ ]:
# Keep only the columns we care about: SEX, AGE, 2010 Data, 2014 Data
partial = full.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2014')
partial

In [ ]:
# Make things easier to read
simple = partial.relabeled('POPESTIMATE2010', '2010').relabeled('POPESTIMATE2014', '2014')
simple

#Q. Any alternatives to using 'POPESTIMATE2010' and 'POPESTIMATE2014' for 2010 and 2014, respectively? 
# Hint: Think columns numbers.

In [ ]:
# Sort by age
simple.sort('AGE')

In [ ]:
# Sort by age (another way)
simple.sort('AGE', descending=True)

**Let's remove the rows of the artificial age group 999**

In [ ]:
# Remove the age totals (i.e., all 999 rows)
no_999 = simple.where('AGE', are.below(999))

#If you want to verity, uncomment the line below
#no_999.sort('AGE', descending=True)

**Let's also remove male-only and female-only rows** 

(i.e., keep only the rows for the combined sexes)

In [ ]:
# Remove male-only and female-only rows (i.e., keep only the rows for the combined sexes)
everyone = no_999.where('SEX', 0).drop('SEX')

#Q. Why do we drop the 'SEX' column?  Comment out .drop('SEX') and see why.

In [ ]:
# If you comment .drop('SEX') in the cell above, 
# then uncomment .show(everyone.num_rows) here 
# to see the whole chart

everyone#.show(everyone.num_rows)

## Line Plots ##

In [ ]:
everyone.plot('AGE', '2010')

**Q.** On the vertical axis, what does $\mathsf{1 e 6}$ mean?  

**A.**

## Every Child Deserves a Name.  So, too, does ... Every Table Deserve a Title! ##

**METHOD 1: Simply type a comment in the cell**

In [ ]:
# US Population by Age 

everyone.plot('AGE', '2010')

**METHOD 2: Use the** $\bf \texttt{print()}$ **function**

In [ ]:
everyone.plot('AGE', '2010')
print('US Population by Age')  # <--- Print out what it is

**METHOD 3: Use** $\bf \texttt{plots.title();}$

In [ ]:
everyone.plot('AGE', '2010')
plots.title('US Population by Age');

**METHOD 4: Use the Markdown cell above the plot as a title**

## US Population by Age ##

In [ ]:
everyone.plot('AGE', '2010')

## Age distributions for both 2010 and 2014 on a single plot ##

In [ ]:
# Simply specify the AGE column as the argument to plot()
everyone.plot('AGE')

## Males and Females in 2014 ##

In [ ]:
# Let's compare male and female counts per age in 2014

males_2014 = no_999.where('SEX', 1).select('AGE','2014').drop('SEX')
females_2014 = no_999.where('SEX', 2).select('AGE','2014').drop('SEX')

# This is also an example of why we cannot, in general, reverse the order of operations, 
# in this case .drop and .where

**Q. For the cell above, explain why we cannot interchange the order of .where and .drop.**  

**A.**

In [ ]:
#males_2014
males_2014

In [ ]:
pop_2014 = Table().with_columns(
    'Age', males_2014.column('AGE'),
    'Males', males_2014.column('2014'),
    'Females', females_2014.column('2014')
)
pop_2014

In [ ]:
#Alternative way of creating the 2014 table

males_2010_2014 = no_999.where('SEX', 1).drop('SEX')
females_2010_2014 = no_999.where('SEX', 2).drop('SEX')

pop_2014 = Table().with_columns(
    'Age', males_2010_2014.column('AGE'),
    'Males', males_2010_2014.column('2014'),
    'Females', females_2010_2014.column('2014')
)
pop_2014

In [ ]:
pop_2014.plot('Age')
plots.title('2014 US Male and Female\n Population by Age');

## 2014: What percentage of the population are women, for each age? ##

In [ ]:
# Calculate the percent female for each age
total = pop_2014.column('Males') + pop_2014.column('Females')
pct_female = pop_2014.column('Females') / total * 100
pct_female  #this is an array

**Round to 3 Significant Digits**

In [ ]:
# Round it to 3 so that it's easier to read
pct_female = np.round(pct_female, 3)
pct_female

**Now add a Percent Female column to the 2014 Table**

In [ ]:
# Add female percent to our table
pop_2014 = pop_2014.with_column('Percent Female', pct_female)
pop_2014

In [ ]:
pop_2014.plot('Age', 'Percent Female')

**Q. The plot above looks misleading and overdramatic.  Can we do better?**  
**A. Yes, by rescaling the vertical axis.**

In [ ]:
# ^^ Look at the y-axis! Trend is not as dramatic as you might think
pop_2014.plot('Age', 'Percent Female')
plots.ylim(0, 100);  # Optional for Data 8

# Scatter Plots #

## Actors and Their Highest-Grossing Movies ##

In [ ]:
actors = Table.read_table('actors.csv')
actors#.show(actors.num_rows)
# This table appears sorted by its Total Gross column

In [ ]:
actors.scatter('Number of Movies', 'Total Gross')

In [ ]:
actors.scatter('Number of Movies', 'Average per Movie')

In [ ]:
actors.where('Average per Movie', are.above(400))

**Who is this mysterious actor?**

# Bar Charts #

## Highest grossing movies as of 2017 ##

In [ ]:
top_movies = Table.read_table('top_movies_2017.csv')
top_movies

**Let's just look at the top-ten**

In [ ]:
top10_adjusted = top_movies.take(np.arange(10)) 
top10_adjusted

**Make the table more readable.**   
**Write the figures in Millions, and round to 3 digits.**

In [ ]:
# Convert to millions of dollars for readability
millions = np.round(top10_adjusted.column('Gross (Adjusted)') / 1000000, 3)
top10_adjusted = top10_adjusted.with_column('Millions', millions)
top10_adjusted

In [ ]:
# A line plot doesn't make sense here: don't do this!
top10_adjusted.plot('Year', 'Millions')

**Variations along the vertical axis don't have a meaningful relationship with variations along the time axis.**

In [ ]:
top10_adjusted.barh('Title', 'Millions')
#The role of the 'h' in '.barh' is to plot the bars horizontally

## Vertical Bars (more complicated & not as good ... Do NOT worry about this, please!) ##

In [ ]:
top10_adjusted.bar('Title', 'Millions')
# Rotation of the bars names
movie_titles=top10_adjusted.column('Title')
plots.xticks(np.arange(top10_adjusted.num_rows), movie_titles, rotation=90);

## Let's generate a scatter plot and see if we get something meaningful ##

In [ ]:
top10_adjusted.scatter('Year','Millions')

**Not earth-shatteringly insightful.**  

**The names of the movies don't appear on the chart!**  

**To print them on is tedious and produces clutter.**

**Exercise:** Generate the chart shown in the slides: a bar chart of age (# years since release) for the 10 highest grossing movies (non-adjusted).