In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Lecture 11 #

## Simple Lists

In [ ]:
# array
make_array(1, 5, 9)

In [ ]:
# list
[1, 5, 9]

In [ ]:
make_array(1, 5, 'hello', 9)

In [ ]:
[1, 5, 'hello', 5.0]

## Lists

In [ ]:
simple_list = ['hello', 7, 3.14, True]
simple_list

In [ ]:
my_array = make_array(1, 2, 3)

crowded_list = [my_array, 'what is going on', -10]
crowded_list

In [ ]:
Table().with_columns('Numbers', [1, 2, 3])

In [ ]:
drinks = Table(['Drink', 'Cafe', 'Price'])
drinks

In [ ]:
drinks = drinks.with_rows([
    ['Milk Tea', 'Asha', 5.5],
    ['Espresso', 'Strada',  1.75],
    ['Latte',    'Strada',  3.25],
    ['Espresso', "FSM",   2]
])
drinks

## Cross-classification

In [ ]:
survey = Table.read_table('welcome_survey_v1.csv')

### Group with two columns

In [ ]:
survey.group(['Handedness','Sleep position']).show()

### Pivot Tables

In [ ]:
survey.pivot('Sleep position', 'Handedness')

### Aggregating numerical variables

In [ ]:
survey.group('Sleep position', collect=np.average)

In [ ]:
t = survey.select('Handedness', 'Sleep position', 'Hours of sleep')
t.group(['Handedness','Sleep position'], collect=np.average).show()

In [ ]:
survey.pivot('Sleep position', 'Handedness', values='Hours of sleep', collect=np.average)

In [ ]:
# Remember: pivot needs to be told how to combine the values!
survey.pivot('Sleep position', 'Handedness', values='Hours of sleep')

## Challenge Question ##

In [ ]:
sky = Table.read_table('skyscrapers_v2.csv')
sky = (sky.with_column('age', 2020 - sky.column('completed'))
          .drop('completed'))
sky.show(3)

Don't read ahead until you try the challenge questions yourself first!

In [ ]:
# 1 (Using Group)
sky.select('material', 'city', 'height').group(['city', 'material'], collect=max)

In [ ]:
# 1 (Using Pivot)
sky.pivot('material', 'city', values='height', collect=max).show()

In [ ]:
# 2
sky_p = sky.pivot('material', 'city', values='age', collect=max)
sky_p = sky_p.with_column(
    'difference', 
    abs(sky_p.column('steel') - sky_p.column('concrete'))
)
sky_p

### Take-home question: try it here!

In [ ]:
# Generate a table of the names of the oldest buildings for each 
# material for each city:

## Joins ##

In [ ]:
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5),
    'Location', make_array('Asha', 'Strada', 'Asha')
)
discounts

In [ ]:
combined = drinks.join('Cafe', discounts, 'Location')
combined

In [ ]:
discounted_frac = 1 - combined.column('Coupon % off') / 100
combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)

### What if second table has an identical column label?

In [ ]:
drinks = drinks.with_column('City', ['Berkeley'] * 4)
drinks

In [ ]:
discounts = discounts.with_column('City', ['Berkeley'] * 3)
discounts

In [ ]:
drinks.join('Cafe', discounts, 'Location')